nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}
.nav-logo {
  font-family: 'Maragsa';
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
